@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-size: larger;
    background-color: #f3eae8;
    color: #f6ccaa;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.containerRegistrar{
    background-color: #887675;
    border: 2px solid;
    display: none; 
    border-radius: 6px;
    width: 450px;
    height: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.containerLogin{
    background-color: #887675;
    display: none;
    border: 2px solid;
    border-radius: 6px;
    width: 400px;
    height: 400px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.containerLogin input{
    width: 200px;
    height: 30px;
    margin: 5px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: .8vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 190px;
    transition: .4s;
}
.containerLogin button, .containerRegistrar button{
    margin: 5px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #f6ccaa;
    background: transparent;
    transition: ease-out 0.5s;
    border: 2px solid #887675;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #f6ccaa;
}
.containerLogin button:hover, .containerRegistrar button:hover{
    color: #f3eae8;
    box-shadow: inset 0 -100px 0 0 #f6ccaa;
}
.containerLogin button:active, .containerRegistrar button:active{
    transform: scale(0.9);
}
.containerRegistrar input{
    width: 200px;
    height: 30px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: .8vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 190px;
    transition: .4s;
}
.containerRegistrar p {
    margin: 5px;
}
#aviso{
    color:#887675;
    font-size: 30px;
    font-weight: bold;
}
#voltarBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: #f1b486;
  border: 2px solid #f1b486;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#voltarBtn:hover {
  background-color: #f1b486;
  color: #2e1c1c;
}